.nav-tabs {
	border: none;
}

.nav-tabs > li {
	margin: 0;
}

.nav-tabs > li > a,
.nav-tabs > li > a:hover {
	background: none;
	border: none;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	background: transparent;
	border: none;
}

.user-login p,
.user-login .user-login-nav,
.user-login .user-login-nav .nav li,
.user-login .user-login-nav .nav li a {
	display: inline-block;
}

.user-login p,
.user-login .user-login-nav .nav li {
	font-size: 12px;
}

.user-login .user-login-nav .nav li a {
	background: none;
}

.user-login .username {
	font-weight: bold;
}

.main-navbar {
	position: relative;
}

.main-nav .nav {
	margin: 0;
}

.main-nav .nav-tabs li {
	margin-right: -10px;
	position: relative;
}

.main-nav .nav-tabs li:nth-child(1) {
	z-index: 10;
}
.main-nav .nav-tabs li:nth-child(2) {
	z-index: 9;
}
.main-nav .nav-tabs li:nth-child(3) {
	z-index: 8;
}
.main-nav .nav-tabs li:nth-child(4) {
	z-index: 7;
}
.main-nav .nav-tabs li:nth-child(5) {
	z-index: 6;
}

.main-nav .nav-tabs li a {
	padding: 6px 34px 6px 24px;
	position: relative;
}

.main-nav .nav-tabs .tab {
	background-image: url(../images/tab.png);
	background-position: 0 0;
	display: block;
	height: 32px;
	left: 0;
	position: absolute;
	top: 0;
	width: 50%;
}

.main-nav .nav-tabs .tab-end {
	background-position: 100% 0;
	left: auto;
	right: 0;
}

.main-nav .nav-tabs li a:hover .tab-start {
	background-position: 0 -32px;
}

.main-nav .nav-tabs li a:hover .tab-end {
	background-position: 100% -32px;
}

.main-nav .nav-tabs li.active a .tab-start {
	background-position: 0 32px;
}

.main-nav .nav-tabs li.active a .tab-end {
	background-position: 100% 32px;
}

.main-nav .nav-tabs .tab-title {
	color: #777;
	font-weight: bold;
	position: relative;
	z-index: 3;
}

.main-nav .nav-tabs .active .tab-title {
	color: #fff;
}

.user-nav {
	position: absolute;
	right: 0;
	top: 0;
}

.user-nav .nav li {
	display: inline-block;
	margin-right: 10px;
}

.user-nav .nav li a {
	background: none;
	color: #888;
}

.user-nav .nav li a:hover {
	color: #000;
}

.user-nav .nav .nav-title,
.user-nav .nav .nav-icon {
	display: inline-block;
	vertical-align: middle;
}

.user-nav .nav .nav-icon {
	background-image: url(../images/icons.png);
	height: 14px;
	width: 14px;
}

.user-nav .nav .messages {
	background-position: 0 -14px;
}

.sub-nav {
	background-image: url(../images/nav_bg.gif);
}